.MoviePoster {
  width:90%;
  height: 80%;
  .movie-poster {
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, .5);
  };
}

.vote-count-box {
  font-size: 20px;
  text-align: center;
  color: #2c3e50;
  background-color: #f0f8ff;
  /* background-color: rgba(240, 248, 255, 0.70); */
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, .5);
  border-radius: 10px;
}

.upvote-span {
  margin-right: 5px;
}

.upvote-arrow {
  width: 10%;
  height: 10%;
}

.downvote-span {
  margin-left: 5px;
}

.downvote-arrow {
  width: 10%;
  height: 10%;
}
