* {
  margin: 0;
  padding: 0;
  }

body {
  display: flex;
  width: 100vw;
  height: 100vw;
  /* background-color: #3e49b1; */
  justify-content: center;
  background-image: linear-gradient(225deg,#062390 30%, #051f7e 60%, #04165a 100%);
}

/* 
#062390
#051f7e
#04165a
*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

h1 {
  color: white;
  font-size: 56px;
  letter-spacing: 5px;
}

p {
  font-size: 20px;
  text-align: center;
  /* margin-top: 1px; */
  color: white;
}