* {
  margin: 0;
  padding: 0;
  }

body {
  display: flex;
  width: 100vw;
  height: 100vw;
  justify-content: center;
  background-image: linear-gradient(225deg,#005689 25%, #007cb9 50%, #005689 75%, #007cb9 100%);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

h1 {
  color: #ff895d;
  text-shadow: 2px 2px 5px #000;
  font-size: 70px;
  letter-spacing: 5px;
}



